#rows {
  min-height: 100vh;
}

#row1 {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 200px;
}

#row2 {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#box1 {
  height: 70px;
  flex: 1;
  min-height: 70px;
  max-height: 70px;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #069993;
}

#box2 {
  flex: 2.5;
  height: 150px;
  min-height: 150px;
  max-height: 150px;
  background-color: yellow;
}

#box3 {
  height: auto;
  min-height: 300px;
  flex: 8;
  background-color: grey;
}

#box4 {
  flex: 1.5;
  bottom: 0;
  height: 100px;
  min-height: 80px;
}

/*
RECHECK
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 50px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: black;
  background: #fff;
}

#sidebar ul li.active>a {
  color: #fff;
  background: #069993;
}